#name {
    font-weight: bold;
    font-size: 14px;
}

#email {
    font-size: 12px;
    text-decoration-line: underline;
}

.title {
    font-size: 18px;
    line-height: 20px;
}

.app-bar-link {
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
}

.k-drawer-container {
    background: inherit;
}

.k-d-flex-row {
    display: flex;
    flex-direction: row;
}

.k-d-flex-col {
    display: flex;
    flex-direction: column;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
body, html {
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

#panelbar-container {
    width: 250px !important; /* Adjust to your preferred width */
    margin: 0px;
}

#third-level-column {
    width: 175px;
    overflow-y: scroll;
    max-height: 90vh;
    ;
    /* Adjust to your preferred width */
}
#drawer-container {
    display: flex;
    flex-direction: column;
    height : 100vh;
    padding: 0;
    margin: 0;
}

#drawer-content {
    flex: 1;
}

#profile-container {
    flex-shrink: 0; /* This will ensure that the profile-container doesn't shrink if there is not enough space */
}

#profile-item .k-icon.k-i-arrow-60-down {
    display: none;
}
#profile-panelbar .k-selected {
    background-color: inherit !important;
    color: inherit !important;
}
